* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ababab;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#networkCanvas {
    background-color: #121212;
}

#carCanvas {
    background-color: #dedede;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    gap: 5px;
}

.buttons button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}